  <form name="search" action="/bookmarks/search" method="get">
  <!-- <form name="search" action="/search" method="get"> -->
  Search:
  <br />
  <input type="text" name="query">
  <input type="submit" value="Submit">
  </form>

  <% if @bookmarks.count == 0 && params[:query] %>

  <p>We're sorry, nothing found. Search again.</p>

  <% end %>