<div class="row">
	<div class="large-6 large-centered columns">
		<h3>Edit Quote</h3>
		<%= render 'form' %>
		<%= link_to 'Show', @bookmark %> |
		<%= link_to 'Back', bookmarks_path %>
	</div>
</div>
