<header class="row">
<div class="large-12 columns">
  <div class="panel">
    <%= image_tag("quote8_logo.png") %>
 </div>
</header>
  <div class="row">
    <div class="large-3 columns ">
      <div class="panel">
        <a href="/user"><img src="http://www.scottlab.com/uploads/images/blank_profile.png" /></a>
        <h5><a href="#">John Doe</a></h5>
          <div class="section-container vertical-nav" data-section data-options="deep_linking: false; one_up: true">
          <section class="section">
            <h5 class="title"><a href="#">Tag 1</a></h5>
          </section>
          <section class="section">
            <h5 class="title"><a href="#">Tag 2</a></h5>
          </section>
          <section class="section">
            <h5 class="title"><a href="#">Tag 3</a></h5>
          </section>
          <section class="section">
            <h5 class="title"><a href="#">Tag 4</a></h5>
          </section>
          <section class="section">
            <h5 class="title"><a href="#">Tag 5</a></h5>
          </section>
          <section class="section">
            <h5 class="title"><a href="#">Tag 6</a></h5>
          </section>
        </div>
       </div>
    </div>
    <div class="large-9 columns">
      <div class="row">
        <div class="large-2 columns small-3"><img src="http://placehold.it/80x80&text=[img]" /></div>
        <div class="large-10 columns">
          <p><strong>Some Person said:</strong> Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit, dolore aliqua non est magna in labore pig pork biltong.</p>
          <ul class="inline-list">
            <li><a href="">Reply</a></li>
            <li><a href="">Share</a></li>
          </ul>
         </div>
      </div>
      <hr />
      <div class="row">
        <div class="large-2 columns small-3"><img src="http://placehold.it/80x80&text=[img]" /></div>
        <div class="large-10 columns">
          <p><strong>Some Person said:</strong> Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit, dolore aliqua non est magna in labore pig pork biltong.</p>
          <ul class="inline-list">
            <li><a href="">Reply</a></li>
            <li><a href="">Share</a></li>
          </ul>
        </div>
      </div>
      <!-- End Feed Entry -->

      <hr />

      <!-- Feed Entry -->
      <div class="row">
        <div class="large-2 columns small-3"><img src="http://placehold.it/80x80&text=[img]" /></div>
        <div class="large-10 columns">
          <p><strong>Some Person said:</strong> Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit, dolore aliqua non est magna in labore pig pork biltong.</p>
          <ul class="inline-list">
            <li><a href="">Reply</a></li>
            <li><a href="">Share</a></li>
          </ul>
         </div>
      </div>
      <!-- End Feed Entry -->
    </div>
     <aside class="large-3 columns hide-for-small">
      <p></p>
      <p></p>
    </aside>
  </div>
 <footer class="row">
    <div class="large-12 columns">
      <hr />
      <div class="row">
        <div class="large-5 columns">
          <p>&copy; "8"</p>
        </div>
        <div class="large-7 columns">
          <ul class="inline-list right">
            <li><a href="#">Section 1</a></li>
            <li><a href="#">Section 2</a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>