<div class="row">
	<div class="large-5 columns">
		<fieldset>
	   <legend>New Quote8ion</legend>
			<%= render 'form' %>
			<a href="JavaScript:window.close()">Close</a>
	  </fieldset>
	  <%= link_to 'Goto Quote8', bookmarks_path, :target => '_blank'%>
  </div>
</div>