<div class="large-5 columns">
	<fieldset>
 <legend>New Quote8ion</legend>
<%= render 'form' %>

<a href="JavaScript:window.close()">Close</a>

<%= link_to 'Goto Quote8', bookmarks_path, :target => '_blank'%>
</fieldset>
</div>