<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @bookmark.title %>
</p>

<p>
  <b>Quote:</b>
  <%= @bookmark.quote %>
</p>


<a href="JavaScript:window.close()">Close</a>

<%= link_to 'Goto Quote8', bookmarks_path, :target => '_blank'%>


<script>
setTimeout('self.close();',15000);
</script>