<div id="bookmarklet-container">
	<img id ="bookmarklet-arrow" src="/assets/arrow_f1762f.png" />
		<a href="javascript:(function(){document.body.appendChild(document.createElement('script')).src='http://quote8.herokuapp.com/jsbookmarklet.js?q=Math.random()';})();" class="round center button" id="bookmarklet-button">
			Quotelet
		</a>
</div>
<p id="bookmarklet-tagline">Drag to your bookmarks bar to start!</p>
