    <div id="bookmarklet-container">

	    <img id ="bookmarklet-arrow" src="/assets/arrow_f1762f.png" />

	      <button id="bookmarklet-button" class="round center">
	      	<img src="assets/quote8_logo_white.png" width="30px" />
	      	<a href="javascript:(function(){document.body.appendChild(document.createElement('script')).src='http://localhost:3000/jsbookmarklet.js?q=Math.random()';})();">
	      	  Quotelet
	        </a>
	      </button>
	      <p id="bookmarklet-tagline">Drag to your bookmarks bar to start!</p>
   
 
    </div> 
  
