<div class="row">
  <div class="large-6 large-centered columns about-section">
    <h3>About Quote8</h3>
    <p>
      Using Quote8, you can grab any quotes from the web so that you can archive them, share them, and include them in your research papers.  Quote8 can maximize your productivity by storing your quotes in our database to free up your time so that you can browse for content efficiently.  Our tagging system enables your quotes to be retrieved base on your own categorization preferences.
    </p>
  </div>
</div>
<hr />
<div class="row">
        <div class="large-6 large-centered columns about-section">
          <h3>Quote8 Core Team Members</h3>
          <br />
          <div class="team">


                <div>Tracy Weiss :: Front-End Developer</div>
                <br />
                <div>Bryan Chang :: Front-End Developer</div>
                <br />
                <div>Jonathan Lai :: Back-End Developer</div>
                <br />
                <div>Tan Nguyen :: Back-End Developer</div>


          </div>

        </div>
      </div>