
<!DOCTYPE html>
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8" />

  <!-- Set the viewport width to device width for mobile -->
  <meta name="viewport" content="width=device-width" />

  <title>Quote 8</title>

  <link rel="stylesheet" href="assets/normalize.css">
  <link rel="stylesheet" href="assets/foundation.css">
  <link rel="stylesheet" href="assets/mystyle.css">


  <script src="js/vendor/custom.modernizr.js"></script>

</head>
<body>

  <!-- Main Page Content and Sidebar -->
  <div class="row"> 
    <div class="four columns">
    <%= render 'bookmarklet' %>
    </div>
  </div>

  <div class="row">
    <h3>Quote8</h3>
      <!-- Contact Details -->
    <div class="four columns centered">
        <img src="../assets/screen2.png">
      <div class="section-container tabs" data-section>
      </div>
    </div>
  </div>

   

    <!-- Sidebar Form -->
  <div class="row"> 

    <div class="four columns centered">

      <form  action="../users" method="post">
        <fieldset>
        <legend>Signup</legend>
        <input type="text" name="user[email]" placeholder="Your Email">
        <input type="password" name="user[password]" placeholder="Password">
        <input type="password" name="user[password_confirmation]" placeholder="Confirm Password">
        <button class="sign_up" type="submit">Sign Up</button>
        <p>Already a member? <a href="/users/sign_in">Log In</a>
        </fieldset>
      </form>
    </div>
      <!-- End Sidebar -->
   </div>


  <!-- End Main Content and Sidebar -->


  <!-- Footer -->
</body>
</html>
