<p>Hello World Landing Page</p>

<p><a href="javascript:(function(){document.body.appendChild(document.createElement('script')).src='http://localhost:3000/jsbookmarklet.js?q=Math.random()';})();">Quotelet</a></p>

<p>Cras eu nisi congue risus congue porttitor ut at velit. Pellentesque a nisl eget dui adipiscing viverra ut viverra odio. Pellentesque vestibulum bibendum congue. Nunc ac orci lorem. Aenean aliquet vulputate leo in scelerisque. Mauris elementum, orci nec luctus dapibus, erat nibh condimentum ligula, eget rutrum felis sapien sed dolor. Curabitur commodo lacus et odio commodo eu accumsan orci gravida. Vestibulum at mi nec sapien commodo facilisis. Mauris in tristique lectus. Donec blandit, quam a adipiscing ultricies, eros sem hendrerit sapien, in ultricies arcu orci sit amet dolor. Nunc ullamcorper, augue nec placerat facilisis, nulla quam bibendum metus, eget accumsan odio massa eu felis. Cras diam mi, aliquam in adipiscing ac, hendrerit ac lectus.</p>

<p>Nullam placerat turpis at leo tristique in aliquam massa semper. Sed consectetur erat at tellus placerat suscipit. Sed molestie arcu enim. Pellentesque pretium, erat a porttitor pretium, augue ligula euismod urna, ac lobortis nulla neque et nunc. Nulla facilisi. Nam tempus mauris a tellus porttitor eu tristique massa hendrerit. Vivamus semper velit non turpis tempor vel imperdiet mauris scelerisque. Pellentesque libero justo, malesuada vel accumsan a, tempor a massa. Ut leo odio, tincidunt at eleifend eu, pulvinar condimentum leo. Vivamus non nisl in enim gravida consectetur. Maecenas dapibus risus vel felis commodo placerat.</p>



<p>Goto</p>
<p><%= link_to 'All Quotes Page', bookmarks_path %><p>
<p><%= link_to 'About Quotes Page', about_path %><p>

