// Place all the styles related to the Bookmarks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#bookmarks .handle {
  font-size: 12px;
  color: #777;
  cursor: move;
}

$grey: #4B5358;
$blue: #6BC3D7;
$light_blue: #A8D7CF;
$light_orange: #F1B897;
$orange: #F1762F;

body{
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.row header{
  width: 80%;
  margin: auto;
}

.top-bar{
  background-color: $grey;
}

h4{
  display: inline;
}

#tag_cloud {
  line-height: 1.6em;
  .s { font-size: 0.8em; }
  .m { font-size: 1.2em; }
  .l { font-size: 1.4em; }
}

.tagist{
  padding-left: 0;
  margin-left: 0;
}

.tags{
  line-height: 30px;
  border: 1px dashed #222 ;
  border-radius: 10px;
}


.quote{
  color: #222;
  font-family: 'Merriweather Sans', sans-serif;
  font-size: 27px;
}

a blockquote:hover{
  color: #757575;
}

blockquote{
  border-left: none;
}

blockquote:before{
    content:'“ ';
}
blockquote:after{
    content:' ”';
}
blockquote:before,
blockquote:after{
  color: $light_orange;
  font{
    family: "Lobster", cursive;
    weight: bold;
    style: italic;
    size: 45px;
  }
}

.logout{
  float: right;
}

[class*="block-grid-"] > li{
  height: 100px;
}
