// Place all the styles related to the Bookmarks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body{
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

strong{
  letter-spacing: 0.125em;
}

header{
  width: 80%;
  margin: auto;
}

.logo{
  width: 25px;
}

/*
  #logo{
    background-image: url("http://upload.wikimedia.org/wikipedia/commons/1/1c/Quotation_Marks.svg");
    background-size: 100px 100px;
    float: left;
    font-size: 45px;
    font-weight: 1200;
    width: 100px;
    height: auto;
  }
*/

#tag_cloud {
  width: 400px;
  line-height: 1.6em;
  .s { font-size: 0.8em; }
  .m { font-size: 1.2em; }
  .l { font-size: 1.4em; }
}

#user_control{
  float: right;
  margin-right: 50px;
}

.container{
  width: 1024px;
  margin: auto;
  margin-top: 50px;
  height: 800px;
}

.span2{
  width: 16.67%;
  float: left;
}

.tagist{
  padding-left: 0;
  margin-left: 0;
}

.tags{
  line-height: 30px;
  border: 1px dashed #222 ;
  border-radius: 10px;
}

ul{
  list-style: none;
}
.span8{
  width: 66.67%;
  float: left;
}

.quote_list{
  margin: 20px;
}

.quote{
  letter-spacing: 0.125em;
  color: #222;
}

.logout{
  float: right;
}
