
#bookmarklet-container {
  positon: relative;
  border: 1px dotted #f0f;
  width: 500px;
  margin: auto;

}

#bookmarklet-arrow {
  position: absolute;
  left: 40px;
  top: -120px;
  margin:auto;
}

#bookmarklet-button {
  font-size: 36px;
    padding: 45px;
}