// Place all the styles related to the Bookmarks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#bookmarks .handle {
  font-size: 12px;
  color: #777;
  cursor: move;
}

$grey: #4B5358;
$blue: #6BC3D7;
$light_blue: #A8D7CF;
$light_orange: #F1B897;
$orange: #F1762F;

body{
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.row header{
  width: 80%;
  margin: auto;
}

.top-bar{
  background-color: $grey;
}

h4{
  display: inline;
}

#tag_cloud {
  line-height: 1.6em;
  .s { font-size: 0.7em; }
  .m { font-size: 0.9em; }
  .l { font-size: 1.1em; }
  text-align: center;
}

.tagist{
  padding-left: 0;
  margin-left: 0;
}

.quote{
  color: #222;
  font-family: 'Merriweather Sans', sans-serif;
  font-size: 27px;
}

.listview{
  font-size: 21px;
}

a blockquote:hover{
  color: #757575;
}

blockquote{
  border-left: none;
}

blockquote:before{
    content:'“ ';
}
blockquote:after{
    content:' ”';
}
blockquote:before,
blockquote:after{
  color: $light_orange;
  font{
    family: "Lobster", cursive;
    weight: bold;
    style: italic;
    size: 45px;
  }
}

.logout{
  float: right;
}

[class*="block-grid-"] > li{
  height: 100px;
}

.tags {
  list-style: none;
  margin: 0;
  overflow: hidden;
  padding: 0;
  display: inline;
}

.tags li {
  float: left;
}

.tag {
  font-size: 12px;
  background: #eee;
  border-radius: 3px 0 0 3px;
  color: #999;
  display: inline-block;
  height: 26px;
  line-height: 26px;
  padding: 0 20px 0 23px;
  position: relative;
  margin: 0 10px 10px 0;
  text-decoration: none;
  -webkit-transition: color 0.2s;
}

.tag::before {
  background: #fff;
  border-radius: 10px;
  box-shadow: inset 0 1px rgba(0, 0, 0, 0.25);
  content: '';
  height: 6px;
  left: 10px;
  position: absolute;
  width: 6px;
  top: 10px;
}

.tag::after {
  background: #fff;
  border-bottom: 13px solid transparent;
  border-left: 10px solid #eee;
  border-top: 13px solid transparent;
  content: '';
  position: absolute;
  right: 0;
  top: 0;
}

.tag:hover {
  background-color: $light_blue;
  color: white;
}

.tag:hover::after {
   border-left-color: $light_blue;
}
