
#bookmarklet-container {
  positon: relative;
  margin: auto;
  width: 300px;

}

#bookmarklet-arrow {
	display: none;
  position: absolute;
  left: -150px;
  top: -75px;
  z-index: 1;
}

#bookmarklet-button {
  font-size: 36px;
  padding: 45px;
  margin-top: 20px;
  margin-left: 30px;
  margin-bottom: 10px;
}

#bookmarklet-tagline {
	margin: 0px;
  text-align: center;
  color: #F1762F;
}

#hidden {
	display: none;
}

.title-area{
	width: 160px;
}

@media only screen and (max-width: 480px) {

	#bookmarklet-container {
		display: none;
	}
  #bookmarklet-tagline {
    display: none;
  }
}
