
button, .button {
 background-color: #6BC3D7;
 border-radius: 25px;
 margin-top: 0px;
 border-style: none;
}
button:hover {
	background-color: #6BC3D7;
}
.user_remember_me {
	float: left;
}
.top-bar-section li a:not(.button) {
 background-color: #4B5358;
 color: #F1762F;
}

body {
/* padding-bottom: 20px;
 color: #F1762F;
*/ font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.top-bar {
	background-color: #4B5358;
	border-bottom: 5px solid #6BC3D7;
	height: 55px;
}
.top-bar a {
	color: white;
}
fieldset {
	color: #F1762F;
	border-radius: 20px;
	margin: 20px;
}

fieldset legend {
	text-align: center;
}
.member_login {
  color: white;
  padding-left: 20px;
  margin-bottom: 5px;
}
.about-section h3 {
  text-align: center;
}
.about-section p {
	text-align: justify;
}
.checkbox label {
	display: inline;
}
input {
	background-color: #6BC3D7;
  color: white;
  text-decoration: none;
  border: none;
  border-radius: 8px;
  display: inline-block;
  padding: 5px;

}
footer {
	color: #4B5358;
}
.round a{
	color: white;
}
p {
	margin: 20px;
}
#show_more {
/*	border-radius: 10px;
	padding: 7px;
	background-color: #4B5358;
	font-weight: normal;*/
	width: 0px;
  height: 0px;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid #2f2f2f;
}
#user_nav {
	padding-right: 20px;
}
.arrow {
	position: relative;
	display: inline;
}
.about-section h3 {
 color: #4B5358;
}
.sign-in-btn {
 float:right;
}

.link_buttons {
	margin: 10px;
/*	text-align: center;*/

}
#site-name {
	float: left;
	margin-left: 10px;
}
#site-logo {
	float: left;
}
.logo-container {
	position: relative;
}
.actions {
	float: right;
}

#error_explanation h2 {
	color: grey;
	font-size: 1.5em;
}
div.tooltip-arrow-up {
      width: 0px;
      height: 0px;
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      border-bottom: 5px solid #2f2f2f;
}
.team {
  width: 300px;
  margin: auto;
}
/*.screen-shot-img {
	margin-top: 20px;
}*/
