body {
 padding-bottom: 20px;
 color: #F1762F;
 font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
button, .button {
 background-color: #6BC3D7;
 border-radius: 25px;
 margin-top: 0px;
 border-style: none;
}
button:hover {
	background-color: #6BC3D7;
}
.user_remember_me {
	display: inline;
}
.top-bar-section li a:not(.button) {
 background-color: #4B5358; 
 color: #F1762F;
}
.top-bar {
	background-color: #4B5358;
	border-bottom: 5px solid #6BC3D7;
	height: 55px;
}
.top-bar a {
	color: white;
}
fieldset {
	 border-radius: 20px;
	 margin: 20px;
}

fieldset legend {
	text-align: center;
}
.member_login {
  color: #F1762F;
  padding-left: 20px;
  margin-bottom: 5px;
}

input {
	background-color: #6BC3D7;
  color: white;
  text-decoration: none;
  border: none;
  border-radius: 8px;
  display: inline-block;
  padding: 5px;

}
footer {
	color: #4B5358;
}
.round a{
	color: white;
}
p {
	margin: 20px;
}
#show_more {
	border-radius: 0;

}
#user_nav {
	padding-right: 20px;
}
.arrow {
	position: relative;
	display: inline;
}
.about-section h3 {
color: #4B5358;
}
.grey {
	background-color: #f2f2f2;
}
.link_buttons {
	margin: 20px;
	text-align: center;
}
#site-name {
	float: left;
	margin-left: 10px;
}
#site-logo {
	float: left;
}
.logo-container {
	position: relative;
}
